<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfoxapple.jxtm.mapper.MateMapper">
    <select id="queryMate" resultType="com.zfoxapple.jxtm.model.Mate">
        select * from mate
    </select>
</mapper>